<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1;user-scalable=no">
    <title></title>
    <style>
    </style>
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://code.angularjs.org/1.5.5/angular.min.js"></script>
</head>
<body ng-controller="MainController">
    <accordion>
	    <expander ng-repeat="expander in expanders" expander-title="expander.title">
		    {{expander.body}}
	    </expander>
    </accordion>

    <script type="text/javascript">
    var appModule = angular.module('myApp', [])
    appModule.controller('MainController', function($scope){
        $scope.expanders = [
            {title: 'title 1', body: 'contents 1, and more...'},
            {title: 'title 2', body: 'contents 2, proud of programmer...'}
        ]
    })

    appModule.directive('accordion', function(){
        return {
		    replace: true,
		    transclude: true,
		    template: '<div ng-transclude></div>',
		    controller: function($scope, $element, $attrs){
			    $scope.expanders = []
			
			    $scope.closeOhters = function(current){
				    $scope.expanders.forEach(function(v, i, arr){
					    if (v != current){
						    v.showMe = false
                        }
                    })
                }
            
                $scope.add = function(newExpander){
                    $scope.expanders.push(newExpander)
                }
            }
        }
    })

    appModule.directive('expander', function(){
	    return {
		    replace: true,
		    transclude: true,
		    require: '^accordion',
		    templateUrl: 'expander.html',
		    scope: {
			    title: '=expanderTitle'
            }
		    link: function(scope, iElement, iAttrs, accordionController){
			
                accordionController.add(scope)
			    scope.showMe = false
			    scope.open = function(){
				    scope.showMe = true
				    accordionController.closeOther(scope)
                }
            }
        }
    })
    </script>

    <script type="text/ng-template" id="expander.html">
        <div class="expander">
            <div ng-click="open()">{{title}}</div>
            <div ng-show="showMe" ng-transclude></div>
        </div>
    </script>
</body>
</html>